azure-functions==1.21.3
azure-ai-documentintelligence==1.0.0b4
azure-identity==1.17.1
azure-storage-blob==12.21.0
azure-cosmos==4.7.0
azure-search-documents==11.6.0
python-dotenv==1.0.1
pydantic==2.10.6
requests==2.32.3
azure-ai-projects>=1.0.0b1
azurefunctions-extensions-http-fastapi>=1.0.1
python-multipart==0.0.20
aiohttp==3.10.11
openai==2.48.0
